In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
########################
###   experimental   ###
########################

In [16]:
#path = "/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/crops/s1_raster/march/gee_training_S1_org.csv"
#path = "/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/crops/s1_raster/march/gee_training_S1_ext.csv"
path = "/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/crops/s1_raster/march/gee_testing_S1.csv"
data_org = pd.read_csv(path)

In [17]:
data_org = data_org.drop('.geo', axis=1)

In [18]:
data_org['system:index'] = data_org['system:index'].astype('str')
# extract date
data_org['date'] = data_org['system:index'].str[17:25]
data_org['poi'] = data_org['system:index'].str[85:-2]

In [19]:
scenes = data_org['date'].unique()

In [20]:
data_org

,system:index,Crop_ID_in,VH,VV,id,date,poi
0,S1A_IW_GRDH_1SDV_20180303T050139_20180303T0502...,2.0,-29.981315,-16.051806,400,20180303,190
1,S1A_IW_GRDH_1SDV_20180303T050139_20180303T0502...,2.0,-23.828478,-13.163191,401,20180303,191
2,S1A_IW_GRDH_1SDV_20180303T050139_20180303T0502...,2.0,-27.417384,-13.710171,402,20180303,192
3,S1A_IW_GRDH_1SDV_20180303T050139_20180303T0502...,2.0,-22.461786,-14.012535,403,20180303,193
4,S1A_IW_GRDH_1SDV_20180303T050139_20180303T0502...,2.0,-24.010185,-16.355995,404,20180303,194
...,...,...,...,...,...,...,...
538988,S1B_IW_GRDH_1SDV_20180929T050113_20180929T0501...,1.0,-15.306405,-10.250678,395,20180929,18b
538989,S1B_IW_GRDH_1SDV_20180929T050113_20180929T0501...,1.0,-25.349042,-11.039521,396,20180929,18c
538990,S1B_IW_GRDH_1SDV_20180929T050113_20180929T0501...,1.0,-20.665845,-10.031265,397,20180929,18d
538991,S1B_IW_GRDH_1SDV_20180929T050113_20180929T0501...,1.0,-15.274196,-8.694483,398,20180929,18e
538992,S1B_IW_GRDH_1SDV_20180929T050113_20180929T0501...,1.0,-25.445396,-10.398578,399,20180929,18f

In [21]:
s1_list = []
set_crop_id = 0
for scene in scenes:
    # filter dataframe
    temp = data_org.loc[data_org['date']==scene,['id', 'Crop_ID_in', 'VH', 'VV']]
    print(temp.shape)
    # add just tables with all pois
    if temp.shape[0] == 4584: #train_org 1200 #train_ext 23930 #test 4584
        temp = temp.set_index('id')
        if set_crop_id == 0:
            temp.rename(columns={'Crop_ID_in': 'crop_id'}, inplace=True)
            s1_list.append(temp['crop_id'].astype(np.int8))
            set_crop_id = 1
        temp = temp[['VH', 'VV']]
        temp.columns = ['VH_'+scene, 'VV_'+scene]
        #temp = temp.reset_index(drop=True)
        s1_list.append(temp)

(4584, 4)
(2397, 4)
(4150, 4)
(4584, 4)
(4584, 4)
(1938, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1937, 4)
(4122, 4)
(4584, 4)
(4584, 4)
(1933, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1935, 4)
(4129, 4)
(4584, 4)
(4584, 4)
(1948, 4)
(4128, 4)
(4584, 4)
(4577, 4)
(1943, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1939, 4)
(4131, 4)
(4584, 4)
(4584, 4)
(1933, 4)
(4124, 4)
(4584, 4)
(4584, 4)
(1933, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1949, 4)
(4584, 4)
(4584, 4)
(1951, 4)
(4130, 4)
(4584, 4)
(4584, 4)
(1948, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1944, 4)
(4127, 4)
(4584, 4)
(4584, 4)
(1929, 4)
(4130, 4)
(4584, 4)
(4584, 4)
(1932, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1943, 4)
(4129, 4)
(4584, 4)
(4584, 4)
(1951, 4)
(4128, 4)
(4330, 4)
(4584, 4)
(4584, 4)
(2409, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1933, 4)
(4137, 4)
(4584, 4)
(4584, 4)
(1931, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1943, 4)
(4136, 4)
(4584, 4)
(4584, 4)
(1948, 4)
(4120, 4)
(4584, 4)
(4584, 4)
(1944, 4)
(4127, 4)
(4584, 4)
(4584, 4)
(1932, 4)
(4130, 4)
(4584, 4)
(4584, 4)
(1944, 4)
(4141, 4)
(4584, 4)
(4584, 4)
(1946, 4)
(4129, 4)
(4584, 4)
(4584, 4)
(1952, 4)
(4122, 4)
(4584, 4)
(4584, 4)
(1933, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1922, 4)
(4124, 4)
(4584, 4)
(4584, 4)
(1936, 4)
(4128, 4)
(4584, 4)
(4584, 4)
(1950, 4)
(4130, 4)
(4584, 4)
(4584, 4)
(1944, 4)
(4131, 4)
(4584, 4)
(4584, 4)
(1936, 4)
(4126, 4)
(4584, 4)
(4584, 4)
(1931, 4)
(4128, 4)
(4584, 4)
(4584, 4)

In [22]:
result = pd.concat(s1_list, axis=1)

In [23]:
result.columns

Index(['crop_id', 'VH_20180303', 'VV_20180303', 'VH_20180311', 'VV_20180311',
       'VH_20180315', 'VV_20180315', 'VH_20180323', 'VV_20180323',
       'VH_20180327',
       ...
       'VH_20180905', 'VV_20180905', 'VH_20180913', 'VV_20180913',
       'VH_20180917', 'VV_20180917', 'VH_20180925', 'VV_20180925',
       'VH_20180929', 'VV_20180929'],
      dtype='object', length=141)

In [24]:
result

,crop_id,VH_20180303,VV_20180303,VH_20180311,VV_20180311,VH_20180315,VV_20180315,VH_20180323,VV_20180323,VH_20180327,...,VH_20180905,VV_20180905,VH_20180913,VV_20180913,VH_20180917,VV_20180917,VH_20180925,VV_20180925,VH_20180929,VV_20180929
id,,,,,,,,,,,,,,,,,,,,,
400,2,-29.981315,-16.051806,-22.665523,-7.640361,-24.083477,-15.741698,-25.790175,-8.707157,-26.979015,...,-16.438661,-6.544961,-12.627205,-7.592092,-14.626727,-9.888603,-13.705137,-6.284371,-15.594298,-11.697413
401,2,-23.828478,-13.163191,-26.379636,-16.027315,-21.731438,-17.222015,-22.077877,-14.452803,-22.596822,...,-12.351495,-8.105562,-14.100106,-5.451663,-17.228506,-7.970335,-13.534152,-10.756231,-23.177025,-6.341811
402,2,-27.417384,-13.710171,-18.466917,-10.635662,-23.345592,-14.702411,-19.045171,-11.948393,-24.071643,...,-14.888662,-7.563614,-15.923933,-9.070553,-14.758068,-10.541167,-16.812568,-10.130515,-19.917037,-12.329512
403,2,-22.461786,-14.012535,-20.801554,-7.920774,-29.325299,-12.870974,-20.452395,-6.446776,-29.661440,...,-13.688895,-6.565650,-17.237362,-8.703975,-19.135941,-9.079093,-16.182445,-8.427667,-15.455610,-9.452586
404,2,-24.010185,-16.355995,-17.976237,-8.475965,-21.897831,-13.085014,-20.542593,-8.220094,-30.122981,...,-12.781246,-10.101109,-17.810632,-10.521378,-15.237994,-11.142334,-15.412342,-8.445557,-17.235017,-11.040900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1,-21.531782,-12.759181,-19.169334,-7.327150,-15.471284,-12.076142,-21.298626,-6.115482,-22.040879,...,-16.704835,-8.650125,-14.722272,-9.200622,-18.778356,-13.042233,-18.019085,-8.050465,-15.306405,-10.250678
396,1,-26.825481,-16.806576,-21.855084,-13.111237,-25.934205,-11.579248,-23.060903,-16.958082,-22.912838,...,-15.261165,-8.625519,-25.313567,-11.815293,-24.183731,-13.195456,-19.129991,-14.435514,-25.349042,-11.039521
397,1,-23.665864,-14.768556,-17.606706,-8.390862,-20.713409,-12.586858,-17.552449,-7.459391,-38.245812,...,-19.334609,-6.699846,-25.596502,-12.213675,-19.205391,-10.579386,-14.236227,-9.331004,-20.665845,-10.031265
398,1,-20.579871,-13.620143,-15.147468,-4.196007,-17.165559,-8.362783,-16.587293,-6.624897,-21.382312,...,-12.648703,-3.820572,-12.797327,-5.743869,-18.810414,-10.913267,-13.080218,-6.190915,-15.274196,-8.694483
399,1,-21.519885,-14.659233,-14.821035,-9.589147,-21.874069,-13.902066,-20.680579,-18.036052,-29.063736,...,-13.823045,-8.482664,-14.001184,-5.787136,-22.325087,-11.166676,-18.529581,-6.144339,-25.445396,-10.398578

In [25]:
result.to_csv("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/crops/s1_raster/data/test_data_S1.csv")

In [ ]:
##############
# merge data #
##############

In [2]:
s1 = pd.read_csv("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/crops/s1_raster/data/train_data_S1.csv", index_col=0)
s2 = pd.read_csv("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/crops/s2_raster/data/train_data_S2.csv", index_col=0)

In [12]:
sx = pd.concat([s2,s1.drop('crop_id', axis=1)], axis=1, join="inner")

In [16]:
sx

,crop_id,geometry,B02_0322,B03_0322,B04_0322,B05_0322,B06_0322,B07_0322,B08A_0322,B08_0322,...,VH_20180824,VV_20180824,VH_20180901,VV_20180901,VH_20180905,VV_20180905,VH_20180913,VV_20180913,VH_20180917,VV_20180917
id,,,,,,,,,,,,,,,,,,,,,
0,1,POINT (627096.6020567626 5361808.477335495),846,1145,1384,1646,1916,2092,2254,2203,...,-18.119646,-14.115872,-13.195396,-7.090372,-17.535381,-8.995873,-23.659385,-13.046439,-26.729862,-16.221819
1,1,POINT (631256.7651787641 5336860.334121774),551,596,752,878,965,1047,1170,1085,...,-18.635456,-10.702939,-18.964264,-13.465431,-19.945221,-9.105640,-18.093800,-10.537335,-21.346231,-11.862766
2,1,POINT (637467.0448977746 5350530.067314325),559,705,974,1147,1306,1411,1594,1521,...,-18.160947,-10.179386,-17.544525,-11.250258,-15.523811,-8.594844,-21.234375,-11.486131,-19.347700,-11.522593
3,1,POINT (624403.6472696981 5340553.939699582),567,653,848,1004,1095,1218,1350,1251,...,-18.563557,-13.974715,-16.065971,-10.410122,-12.804096,-7.670271,-24.169833,-9.788192,-16.221989,-12.394830
4,1,POINT (623246.8244646746 5343565.536485022),323,350,460,570,653,708,810,722,...,-23.084174,-11.717405,-14.638992,-9.570289,-17.241957,-9.224643,-19.558936,-7.373237,-17.990048,-11.090339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,15,POINT (614557.8571782348 5358870.3342831),667,859,1106,1291,1401,1497,1635,1586,...,-21.567493,-11.373999,-15.583734,-8.256922,-18.256750,-10.169819,-30.063593,-11.911946,-21.531685,-12.817349
1196,15,POINT (611441.7501689466 5357183.963003195),566,599,764,833,924,1058,1185,1150,...,-23.194147,-12.773599,-17.243105,-9.368101,-24.667121,-10.006913,-20.673729,-10.860370,-26.954120,-10.714120
1197,15,POINT (610151.3269375319 5357572.852941644),925,1174,1451,1632,1712,1857,1879,1940,...,-27.127342,-12.884764,-19.312799,-7.791935,-21.348544,-9.741256,-30.671641,-14.394070,-28.693731,-13.642096
1198,15,POINT (635975.0865877685 5349979.032312227),577,749,1027,1242,1453,1611,1805,1692,...,-27.083681,-16.026709,-22.246739,-6.383425,-24.297409,-7.048857,-30.382173,-14.126649,-30.339932,-14.475578
1199,15,POINT (637009.5850224452 5348088.7819411),552,718,1084,1270,1387,1514,1665,1526,...,-24.095462,-11.909848,-17.788566,-8.973602,-19.618631,-8.369447,-24.149865,-13.769796,-26.253217,-16.702702

In [18]:
sx.to_csv("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/crops/s2_raster/data/train_data_SX.csv")