In [1]:
import os
import numpy as np
import pandas as pd

In [ ]:
########################
###   experimental   ###
########################

In [2]:
path = "/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/crops/s1_raster/march/S1_sampled_original.csv"
data_org = pd.read_csv(path)

In [3]:
data_org = data_org.drop('.geo', axis=1)

In [4]:
data_org['system:index'] = data_org['system:index'].astype('str')
# extract date
data_org['date'] = data_org['system:index'].str[17:25]
data_org['poi'] = data_org['system:index'].str[17:25]

In [5]:
scenes = data_org['date'].unique()

In [6]:
s1_list = []
for scene in scenes:
    temp = data_org.loc[data_org['date']==scene,['Crop_ID_in', 'VH', 'VV']]
    temp.columns = ['Crop_id_'+scene, 'VH_'+scene, 'VV_'+scene]
    temp = temp.reset_index(drop=True)
    s1_list.append(temp)

In [7]:
result = pd.concat(s1_list, axis=1)

In [8]:
result

,Crop_id_20180401,VH_20180401,VV_20180401,Crop_id_20180404,VH_20180404,VV_20180404,Crop_id_20180408,VH_20180408,VV_20180408,Crop_id_20180409,...,VV_20180910,Crop_id_20180913,VH_20180913,VV_20180913,Crop_id_20180917,VH_20180917,VV_20180917,Crop_id_20180918,VH_20180918,VV_20180918
0,2.0,-21.051089,-4.754000,2.0,-27.494673,-11.728935,2.0,-26.157115,-7.941369,2.0,...,-7.639816,2.0,-13.430295,-6.561589,2.0,-14.848242,-7.553686,2.0,-18.953379,-8.399910
1,2.0,-18.604523,-7.891009,2.0,-21.734028,-11.113761,2.0,-20.046772,-14.004034,2.0,...,-10.945294,2.0,-17.659846,-12.453556,2.0,-26.056990,-15.490167,2.0,-15.528856,-12.360280
2,2.0,-23.217787,-9.946385,2.0,-24.093901,-16.089591,2.0,-24.576685,-20.076986,2.0,...,-10.175589,2.0,-16.570060,-9.753053,2.0,-15.719652,-6.077555,2.0,-18.436605,-13.274489
3,2.0,-14.366249,-7.015451,2.0,-36.676221,-18.670664,2.0,-25.934613,-15.942835,2.0,...,-4.766372,2.0,-15.225784,-7.806783,2.0,-13.673005,-7.752452,2.0,-16.470763,-9.070048
4,2.0,-17.425313,-8.078750,2.0,-35.661983,-17.770296,2.0,-34.846377,-18.229650,2.0,...,-7.710921,2.0,-17.314107,-12.517806,2.0,-15.498072,-12.025849,2.0,-11.567315,-8.081610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,NaN,NaN,NaN,1.0,-24.775502,-12.593654,1.0,-26.455746,-14.772138,NaN,...,NaN,1.0,-34.663145,-13.007374,1.0,-32.655200,-10.394704,NaN,NaN,NaN
1196,NaN,NaN,NaN,1.0,-36.307976,-17.293078,1.0,-23.119823,-14.799103,NaN,...,NaN,1.0,-25.312933,-14.088199,1.0,-20.431067,-15.957579,NaN,NaN,NaN
1197,NaN,NaN,NaN,1.0,-24.827906,-13.117438,1.0,-24.963632,-15.799011,NaN,...,NaN,1.0,-22.472052,-13.107223,1.0,-24.657991,-14.042103,NaN,NaN,NaN
1198,NaN,NaN,NaN,1.0,-19.382412,-13.663286,1.0,-22.371628,-11.572731,NaN,...,NaN,1.0,-23.658450,-12.570548,1.0,-18.762248,-11.496094,NaN,NaN,NaN
1199,NaN,NaN,NaN,1.0,-23.046897,-12.529164,1.0,-21.733654,-14.532515,NaN,...,NaN,1.0,-32.702083,-12.029122,1.0,-25.119643,-15.356728,NaN,NaN,NaN

In [18]:
for scene in scenes:

array(['S1A_IW_GRDH_1SDV_20180401T050947_20180401T051012_021269_024958_A21E_00000000000000000378_0',
       'S1A_IW_GRDH_1SDV_20180401T050947_20180401T051012_021269_024958_A21E_00000000000000000379_0',
       'S1A_IW_GRDH_1SDV_20180401T050947_20180401T051012_021269_024958_A21E_0000000000000000037a_0',
       ...,
       'S1B_IW_GRDH_1SDV_20180918T165013_20180918T165038_012772_01793C_3A3D_00000000000000000374_0',
       'S1B_IW_GRDH_1SDV_20180918T165013_20180918T165038_012772_01793C_3A3D_00000000000000000376_0',
       'S1B_IW_GRDH_1SDV_20180918T165013_20180918T165038_012772_01793C_3A3D_00000000000000000377_0'],
      dtype=object)

In [ ]:

x = temp[temp['system:index']==scene]

In [26]:
temp['system:index'].str[17:25]

0         20180401
1         20180401
2         20180401
3         20180401
4         20180401
            ...
115213    20180918
115214    20180918
115215    20180918
115216    20180918
115217    20180918
Name: system:index, Length: 115218, dtype: object

In [53]:
temp.loc[temp['date']==scenes[0],['Crop_ID_in', 'VH', 'VV']]

      Crop_ID_in         VH         VV
0            2.0 -21.051089  -4.754000
1            2.0 -18.604523  -7.891009
2            2.0 -23.217787  -9.946385
3            2.0 -14.366249  -7.015451
4            2.0 -17.425313  -8.078750
...          ...        ...        ...
1084         1.0 -12.187056  -8.199353
1085         1.0 -23.125459 -10.847178
1086         1.0 -20.648425  -7.644383
1087         1.0 -15.924451  -6.738983
1088         1.0 -17.401652 -10.277235

[1089 rows x 3 columns]

In [11]:
data_org['system:index']

,system:index,Crop_ID_in,VH,VV,date
0,S1A_IW_GRDH_1SDV_20180401T050947_20180401T0510...,2.0,-21.051089,-4.754000,20180401
1,S1A_IW_GRDH_1SDV_20180401T050947_20180401T0510...,2.0,-18.604523,-7.891009,20180401
2,S1A_IW_GRDH_1SDV_20180401T050947_20180401T0510...,2.0,-23.217787,-9.946385,20180401
3,S1A_IW_GRDH_1SDV_20180401T050947_20180401T0510...,2.0,-14.366249,-7.015451,20180401
4,S1A_IW_GRDH_1SDV_20180401T050947_20180401T0510...,2.0,-17.425313,-8.078750,20180401
...,...,...,...,...,...
115213,S1B_IW_GRDH_1SDV_20180918T165013_20180918T1650...,1.0,-19.739376,-12.201721,20180918
115214,S1B_IW_GRDH_1SDV_20180918T165013_20180918T1650...,1.0,-20.389221,-13.185935,20180918
115215,S1B_IW_GRDH_1SDV_20180918T165013_20180918T1650...,1.0,-17.652814,-17.133226,20180918
115216,S1B_IW_GRDH_1SDV_20180918T165013_20180918T1650...,1.0,-25.073906,-12.158048,20180918
115217,S1B_IW_GRDH_1SDV_20180918T165013_20180918T1650...,1.0,-30.265834,-10.924602,20180918

In [41]:
temp['date'].dtype

dtype('O')

In [9]:
scene

'20180918'