In [6]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
path = "/home/philipp/Documents/boku/remote_sensing_and_image_processing/final_ass/training_g5/training_g5.shp"
train_pts = gpd.read_file(path)

In [3]:
train_pts

      Crop_ID_in                        geometry
0            1.0  POINT (627096.602 5361808.477)
1            1.0  POINT (631256.765 5336860.334)
2            1.0  POINT (637467.045 5350530.067)
3            1.0  POINT (624403.647 5340553.940)
4            1.0  POINT (623246.824 5343565.536)
...          ...                             ...
1195        15.0  POINT (614557.857 5358870.334)
1196        15.0  POINT (611441.750 5357183.963)
1197        15.0  POINT (610151.327 5357572.853)
1198        15.0  POINT (635975.087 5349979.032)
1199        15.0  POINT (637009.585 5348088.782)

[1200 rows x 2 columns]

In [11]:
train_pts.bounds

               minx          miny           maxx          maxy
0     627096.602057  5.361808e+06  627096.602057  5.361808e+06
1     631256.765179  5.336860e+06  631256.765179  5.336860e+06
2     637467.044898  5.350530e+06  637467.044898  5.350530e+06
3     624403.647270  5.340554e+06  624403.647270  5.340554e+06
4     623246.824465  5.343566e+06  623246.824465  5.343566e+06
...             ...           ...            ...           ...
1195  614557.857178  5.358870e+06  614557.857178  5.358870e+06
1196  611441.750169  5.357184e+06  611441.750169  5.357184e+06
1197  610151.326938  5.357573e+06  610151.326938  5.357573e+06
1198  635975.086588  5.349979e+06  635975.086588  5.349979e+06
1199  637009.585022  5.348089e+06  637009.585022  5.348089e+06

[1200 rows x 4 columns]

In [12]:
x_min = train_pts.bounds['minx'].min()
y_min = train_pts.bounds['miny'].min()
x_max = train_pts.bounds['maxx'].max()
y_max = train_pts.bounds['maxy'].max()

In [14]:
print(x_min, x_max)
print(y_min, y_max)

605807.8840261962 646663.905254955
5332831.360718535 5370242.015357341